*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    max-width: 1519.2px;
    margin: auto;
}
/* section{
    max-width: 1519.2px;
    margin: auto;
} */
header .topHead{
    background-color: #615EFC;
    color: white;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .topHead .phoneCall, header .topHead .address{
    display: flex;
    align-items: center;
    gap: 40px;
}
.phoneCall p img, .address p img{
    height: 20px;
}
.phoneCall p, .address p{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 17px;
}
.topHead .address p{
    cursor: pointer;
}
.topHead .phoneCall p{
    cursor: pointer;
}
.topHead .phoneCall #normalCrsr{
    cursor:inherit;
}
.topHead .phoneCall img{
    cursor: pointer;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}
header nav .leftNav{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px 0px;
}
.leftNav #logo:hover{
    cursor: pointer;
}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 18px;
}
nav ul li{
    transition: all 0.3s ease;
}
ul li:hover{
    color: #615EFC;
    cursor: pointer;
}
ul li:hover i{
    transform: rotate(180deg);
}
.rightNav form{
    display: flex;
    gap: 15px;
    position: relative;
}
.rightNav form button{
    font-size: 17px;
    background-color: #615EFC;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 12px 25px;
    transition: all 0.3s ease;
}
.rightNav form button:hover{
    background-color: black;
    cursor: pointer;
}
.rightNav form input{
    width: 210px;
    border: 1px solid #615efc6f;
    border-radius: 50px;
    padding: 0px 15px;
    font-size: 15px;
}
.rightNav form ::placeholder{
    font-size: 15px;
}
.rightNav form img{
    height: 30px;
    position: absolute;
    right: 46%;
    top: 7px;
    cursor: pointer;
}
.rightNav form button i{
    transform: rotate(-45deg);
}
.frontPage{
    padding: 120px 0px;
    display: flex;
    justify-content: space-between;
    background-image: url(./Images/frontPageBg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.frontPage .leftFrontPage{
    padding-left: 100px;
    width: 34%;
}
.frontPage .leftFrontPage #firstPara{
    font-size: 17px;
    color: rgb(132, 132, 132);
    letter-spacing: 0.2px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.leftFrontPage #secondPara{
    margin: 15px 0px;
    line-height: 1.5rem;
}
.frontPage .leftFrontPage #firstPara img{
    height: 26px;
}
.frontPage .leftFrontPage h1{
    font-size: 90px;
}
.findDoc{
    padding: 3px 3px;
    border: 1px solid #615efc7c;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    background-color: white;
}
.findDoc select{
    font-size: 15px;
    letter-spacing: 0.1px;
    width: 125px;
    padding: 0px 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #777373;
    cursor: pointer;
}
.findDoc .firstOption{
    width: 170px;
    padding-left: 20px;
}
.findDoc select option{
    font-size: 17px;
}
.findDoc .findDocBtn{
    font-size: 16px;
    color: white;
    background-color: #615EFC;
    border: none;
    border-radius: 50px;
    padding: 14px 24px;
    transition: all 0.3s ease;
}
.findDoc .findDocBtn:hover{
    cursor: pointer;
    background-color: black;
}
.frontPage .rightFrontPage{
    position: relative;
    margin-right: 20px;
}
.frontPage .rightFrontPage #docImg{
    height: 580px;
    position: absolute;
    top: -75px;
    right: 0;
}
.docTag p{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
}
.docTag{
    border: 1px solid #615efc7c;
    border-radius: 50px;
    background-color: white;
    padding: 10px 20px;
    position: absolute;
}
.tagOne{
    top: 170px;
    right: 280px;
}
.tagTwo{
    top: 370px;
    right: 340px;
}
.tagThree{
    top: 330px;
    right: 40px;
}
.shortServices{
    display: flex;
    padding: 100px 0px;
    justify-content: center;
    gap: 30px;
}
.shortServices .serviceBtn img{
    height: 60px;
}
.shortServices .serviceBtn p{
    font-size: 24px;
}
.shortServices .serviceBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 30px 20px;
    border: 1px solid #615efc6e;
    border-radius: 10px;
    width: 255px;
    cursor: pointer;
}
.aboutUs{
    display: flex;
    padding: 0px 100px;
}
.aboutUs .leftAboutUs{
    width: 50%;
    position: relative;
}
.aboutUs .leftAboutUs .trustPilot{
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 108px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.aboutUs .leftAboutUs .trustPilot #trustPara{
    font-size: 14px;
}
.aboutUs .rightAboutUs{
    width: 42%;
}
.aboutUs .rightAboutUs .aboutUsBtn{
    display: inline-block;
    border: 1px solid #615EFC;
    color: #615EFC;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 50px;
}
.aboutUs .rightAboutUs h3{
    font-size: 36px;
    margin: 25px 0px;
}
.aboutUs .rightAboutUs #rightPara{
    font-size: 16px;
    color: rgb(112, 105, 105);
    word-spacing: 1.5px;
    line-height: 1.5rem;
}
.rightAboutUs .docAbout{
    display: flex;
    gap: 40px;
    align-items: center;
    margin-top: 65px;
}
.rightAboutUs .docAbout .aboutUsBtn2{
    font-size: 17px;
    color: white;
    background-color: #615EFC;
    padding: 15px 28px;
    border-radius: 50px;
    transition: all 0.3s ease;
}
.aboutUsBtn2 i{
    transform: rotate(-45deg);
}
.rightAboutUs .docAbout .aboutUsBtn2:hover{
    background-color: black;
    cursor: pointer;
}
.rightAboutUs .docAbout .docProfileSign{
    display: flex;
    align-items: center;
    gap: 15px;
}
.ourServices{
    display: flex;
    padding: 100px 100px;
    gap: 30px;
} 
.ourServices .leftServices{
    width: 50%;
    background-image: url(./Images/servicesBG.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 40%;
}
.leftServices .ourServicesBtn{
    border: 1px solid #615EFC;
    color: #615EFC;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 50px;
    display: inline-block;
}
.leftServices #servicesTitle{
    font-size: 40px;
    margin: 20px 0px;
    letter-spacing: 0px;
    word-spacing: -6px;
    width: 350px;
}
.leftServices #servicesPara{
    color: rgb(101, 96, 96);
    line-height: 1.5rem;
    padding-right: 10px;
    margin-bottom: 70px;
}
.leftServices .bottomBoxes{
    display: flex;
    gap: 30px;
}
.bottomBoxes .Box{
    border: 1px solid #615efc4e;
    background-color: white;
    border-radius: 10px;
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    transition: all 0.3s ease;
}
.bottomBoxes .Box:hover{
    border-color: #615EFC;
}
.bottomBoxes .Box img{
    margin-bottom: 20px;
}
.bottomBoxes .Box>p{
    color: rgb(137, 137, 137);
    line-height: 1.5rem;
    padding-right: 25px;
}
.bottomBoxes .Box .learnMoreBtn{
    display: inline-block;
}
.Box .learnMoreBtn:hover{
    cursor: pointer;
    color: #615EFC;
}
.Box .learnMoreBtn i{
    transform: rotate(-45deg);
    transition: all 0.3s ease;
}
.Box .learnMoreBtn:hover i{
    transform: rotate(0deg);
}

.ourServices .rightServices{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.rightServices .Box{
    border: 1px solid #615efc4e;
    border-radius: 10px;
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 255.7px;
    /* transition: all 0.3s ease; */
}
.rightServices .Box>p{
    color: rgb(137, 137, 137);
    line-height: 1.5rem;
    padding-right: 25px;
}
.rightServices .Box img{
    margin-bottom: 20px;
}
.rightServices .Box:hover{
    border-color: #615EFC;
}
.whyChooseUs{
    padding: 100px;
    display: flex;
    background-color: #F1F1FF;
}
.whyChooseUs .leftChooseUs{
    width: 50%;
}
.leftChooseUs .WhyChooseUsBtn{
    border: 1px solid #615EFC;
    color: #615EFC;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 50px;
    display: inline-block;
}
.leftChooseUs #chooseUsTitle{
    font-size: 40px;
    margin: 20px 0px;
    letter-spacing: 0px;
    word-spacing: 0px;
    width: 350px;
}
.leftChooseUs #chooseUsPara{
    color: rgb(101, 96, 96);
    line-height: 1.5rem;
}
.leftChooseUs .featuresBoxes{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.leftChooseUs .featuresBoxes .Box{
    display: flex;
    align-items: center;
    padding: 25px 15px;
    gap: 15px;
    border: 1px solid #615efcab;
    border-radius: 10px;
    width: 520px;
}
.featuresBoxes .Box .featureContent{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Box .featureContent h2{
    font-size: 19px;
}
.Box .featureContent p{
    color: rgb(101, 96, 96);
    font-size: 15px;
}
.whyChooseUs .rightChooseUs{
    width: 50%;
    position: relative;
    padding-top: 110px;
}
#docImage{
    position: absolute;
    top: 37px;
    left: 30%;
}
.rightChooseUs .rightTimeClock{
    color: white;
    position: absolute;
    top: 25%;
    left: 30px;
}
.rightTimeClock h1{
    font-size: 70px;
}
.bottomClock{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 35px;
}
.rightTelephone{
    color: white;
    font-size: 19px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    left: 30px;
    bottom: 40px;
}
.appointment{
    display: flex;
    padding: 100px;
}
.appointment .leftAppointment{
    width: 43%;
    background-image: url(./Images/appointment.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    background-position: top;
    height: 550px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.leftAppointment h1{
    font-size: 50px;
    color: white;
}
.leftAppointment form{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    gap: 15px;
}
.leftAppointment form input::placeholder{
    color: white;
}
.leftAppointment form div{
    display: flex;
    gap: 10px;
}
.leftAppointment form div input{
    width: 50%;
    padding: 15px 10px;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 50px;
    color: white;
}
.leftAppointment form input{
    padding: 15px 10px;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 50px;
    color: white;
}
.leftAppointment form select{
    padding: 15px 10px;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 50px;
    color: white;
    cursor: pointer;
}
.leftAppointment form select option{
    color: black;
}
.leftAppointment .appointmentBtn{
    padding: 14px 20px;
    color: #615EFC;
    background-color: white;
    border-radius: 50px;
    display: inline-block;
    transition: all 0.3s ease;
    margin-top: 30px;
}
.appointmentBtn i{
    transform: rotate(-45deg);
}
.appointmentBtn:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.appointment .rightAppointment{
    width: 50%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}
.rightAppointment img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.pricingPlan{
    padding: 0px 100px;
    padding-bottom: 100px;
}
.pricingPlan .pricingPlanBtn{
    font-size: 15px;
    color: #615EFC;
    padding: 10px 20px;
    border: 1px solid #615efc4e;
    border-radius: 50px;
    width: 80.067px;
    margin: auto;
}
.pricingPlan h1{
    font-size: 50px;
    margin-top: 10px;
    text-align: center;
}
.priceCards{
    display: flex;
    justify-content: space-between;
    margin-top: 35px; 
}
.priceCards .card{
    border: 1px solid rgb(147, 143, 143);
    border-radius: 10px;
    padding: 30px;
}
.priceCards .card h2{
    font-size: 50px;
    margin: 4px 0px;
    color: #615EFC;
}
.priceCards .card hr{
    margin: 25px 0px; 
    color: rgb(181, 176, 176);
}
#cardContent{
    color: rgb(113, 106, 106);
    width: 300px;
    line-height: 1.5rem;
    word-spacing: 0.5px;
} 
.card .orderList{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px 0px;
    color: rgb(108, 102, 102);;
}
.card .orderList i{
    color: #615EFC;
    font-size: 17px;
}
.priceCards .card2{
    color: white;
    background-color: #615EFC;
}
.card2 .bookingNowBtn2{
    background-color: transparent;
    padding: 15px 25px;
    border-radius: 50px;
    color: white;
    border: 1px solid white;
    display: inline-block;
    transition: all 0.3s ease;
}
.card2 .bookingNowBtn2:hover{
    border-color: black;
    background-color: black;
    cursor: pointer;
}
.card2 .orderList i{
    color: white;
}
.card .bookingNowBtn{
    background-color: #615EFC;
    padding: 15px 25px;
    border-radius: 50px;
    color: white;
    display: inline-block;
    transition: all 0.3s ease;
}
.card .bookingNowBtn:hover{
    background-color: black;
    cursor: pointer;
}
.ourDoctors{
    padding: 100px;
    background-color: #F1F1FF;
}
.ourDoctors .ourDoctorsBtn{
    padding: 8px 13px; 
    font-size: 17px;
    color: #615EFC;
    border: 1px solid #615efc6b;
    border-radius: 50px;
    display: inline-block;
}
.ourDoctors .titleWithContent h1{
    display: inline-block;
    width: 50%; 
    font-size: 35px;
}
.titleWithContent p{
    width: 50%;
    color: #858282;
    line-height: 1.5rem;
    word-spacing: 5px;
}
.ourDoctors .titleWithContent{
    display: flex;
    margin: 20px 0px;
    gap: 100px;
}
.docCards{
    display: flex;
    justify-content: space-between;
    margin-top: 35px; 
}
.docCards .card{
    width: 295px;
    /* border: 2px solid red; */
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.docCards .card img{
    width: 295px;
    transition: all 0.3s ease;
}
.socialHandles{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #615EFC;
}
.socialHandles i{      
    cursor: pointer;
}
.docCards .card h2{
    transition: all 0.3s ease;
}
.docCards .card h2:hover{
    color: #615EFC;
    cursor: pointer;
}
.card .docPhoto{
    cursor: pointer;
    overflow: hidden;
    background-color: white; 
    height: 335px;
}
.card:hover img{
    transform: scale(1.05);
}
.clientFeedback{
    padding: 100px;
}
.clientFeedback .clientFeedbackBtn{
    color: #615EFC;
    padding: 5px 14px;
    border: 1px solid #615efc57;
    border-radius: 50px;
    display: block;
    width: 115.617px;
    margin: auto;
}
.clientFeedback h1{
    font-size: 45px;
    text-align: center;  
    margin: 15px 0px; 
}
.clientFeedback .feedbacks{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid green; */
    margin: 35px 0px;
}
.feedbacks .feedback{
    /* border: 2px solid red; */
    background-color: #F1F1FF;
    border-radius: 10px;
    width: 320px;
    padding: 30px;
    background-image: url(./Images/servicesBG.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}
.feedbacks .feedback #feedbackPara{    
    color: black;
    line-height: 1.5rem;
    word-spacing: 3.5px;
    letter-spacing: 0.5px;
    margin: 20px 0px;
}
.feedback .clientDetails{
    display: flex;
    align-items: center; 
    gap: 10px; 
    margin-top: 50px;
}
.clientDetails .clientName img{
    height: 22px;
}
.clientDetails .clientName h2{
    font-size: 20px;
}
.bookAppointment{
    margin: 0px auto 100px auto;
    width: 1280px;
    height: 420px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    /* padding: 0px 100px 100px 100px; */
    background-image: url(./Images/bookAppointmentBG.jpg);

}
.bookAppointment .bookAppointmentBtn{
    padding: 8px 14px;
    border: 1px solid white;
    color: white;
    border-radius: 50px;
    display: block;
    width: 130.767px;
    margin: auto;
}
.bookAppointment h1{
    font-size: 55px;
    color: white;
    word-spacing: 1rem; 
    text-align: center;
}
.bookAppointment .getAppointmentBtn{
    color: #615EFC;
    background-color: white;
    border-radius: 50px;
    padding: 15px 20px;
    display: block;
    width: 120.1px;
    margin: auto;
    transition: all 0.3s ease;
}
.bookAppointment .getAppointmentBtn:hover{
    background-color: black;
    cursor: pointer;
    color: white;
}