*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    max-width: 1519.2px;
    margin: auto;
}
/* section{
    max-width: 1519.2px;
    margin: auto;
} */
header .topHead{
    background-color: #615EFC;
    color: white;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .topHead .phoneCall, header .topHead .address{
    display: flex;
    align-items: center;
    gap: 40px;
}
.phoneCall p img, .address p img{
    height: 20px;
}
.phoneCall p, .address p{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 17px;
}
.topHead .address p{
    cursor: pointer;
}
.topHead .phoneCall p{
    cursor: pointer;
}
.topHead .phoneCall #normalCrsr{
    cursor:inherit;
}
.topHead .phoneCall img{
    cursor: pointer;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}
header nav .leftNav{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px 0px;
}
.leftNav #logo:hover{
    cursor: pointer;
}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 18px;
}
nav ul li{
    transition: all 0.3s ease;
}
ul li:hover{
    color: #615EFC;
    cursor: pointer;
}
ul li:hover i{
    transform: rotate(180deg);
}
.rightNav form{
    display: flex;
    gap: 15px;
    position: relative;
}
.rightNav form button{
    font-size: 17px;
    background-color: #615EFC;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 12px 25px;
    transition: all 0.3s ease;
}
.rightNav form button:hover{
    background-color: black;
    cursor: pointer;
}
.rightNav form input{
    width: 210px;
    border: 1px solid #615efc6f;
    border-radius: 50px;
    padding: 0px 15px;
    font-size: 15px;
}
.rightNav form ::placeholder{
    font-size: 15px;
}
.rightNav form img{
    height: 30px;
    position: absolute;
    right: 46%;
    top: 7px;
    cursor: pointer;
}
.rightNav form button i{
    transform: rotate(-45deg);
}
.frontPage{
    padding: 120px 0px;
    display: flex;
    justify-content: space-between;
    background-image: url(./Images/frontPageBg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.frontPage .leftFrontPage{
    padding-left: 100px;
    width: 34%;
}
.frontPage .leftFrontPage #firstPara{
    font-size: 17px;
    color: rgb(132, 132, 132);
    letter-spacing: 0.2px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.leftFrontPage #secondPara{
    margin: 15px 0px;
    line-height: 1.5rem;
}
.frontPage .leftFrontPage #firstPara img{
    height: 26px;
}
.frontPage .leftFrontPage h1{
    font-size: 90px;
}
.findDoc{
    padding: 3px 3px;
    border: 1px solid #615efc7c;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    background-color: white;
}
.findDoc select{
    font-size: 15px;
    letter-spacing: 0.1px;
    width: 125px;
    padding: 0px 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #777373;
    cursor: pointer;
}
.findDoc .firstOption{
    width: 170px;
    padding-left: 20px;
}
.findDoc select option{
    font-size: 17px;
}
.findDoc .findDocBtn{
    font-size: 16px;
    color: white;
    background-color: #615EFC;
    border: none;
    border-radius: 50px;
    padding: 14px 24px;
    transition: all 0.3s ease;
}
.findDoc .findDocBtn:hover{
    cursor: pointer;
    background-color: black;
}
.frontPage .rightFrontPage{
    position: relative;
    margin-right: 20px;
}
.frontPage .rightFrontPage #docImg{
    height: 580px;
    position: absolute;
    top: -75px;
    right: 0;
}
.docTag p{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
}
.docTag{
    border: 1px solid #615efc7c;
    border-radius: 50px;
    background-color: white;
    padding: 10px 20px;
    position: absolute;
}
.tagOne{
    top: 170px;
    right: 280px;
}
.tagTwo{
    top: 370px;
    right: 340px;
}
.tagThree{
    top: 330px;
    right: 40px;
}
.shortServices{
    display: flex;
    padding: 100px 0px;
    justify-content: center;
    gap: 30px;
}
.shortServices .serviceBtn img{
    height: 60px;
}
.shortServices .serviceBtn p{
    font-size: 24px;
}
.shortServices .serviceBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 30px 20px;
    border: 1px solid #615efc6e;
    border-radius: 10px;
    width: 255px;
    cursor: pointer;
}
.aboutUs{
    display: flex;
    padding: 0px 100px;
}
.aboutUs .leftAboutUs{
    width: 50%;
    position: relative;
}
.aboutUs .leftAboutUs .trustPilot{
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 108px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.aboutUs .leftAboutUs .trustPilot #trustPara{
    font-size: 14px;
}
.aboutUs .rightAboutUs{
    width: 42%;
}
.aboutUs .rightAboutUs .aboutUsBtn{
    display: inline-block;
    border: 1px solid #615EFC;
    color: #615EFC;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 50px;
}
.aboutUs .rightAboutUs h3{
    font-size: 36px;
    margin: 25px 0px;
}
.aboutUs .rightAboutUs #rightPara{
    font-size: 16px;
    color: rgb(112, 105, 105);
    word-spacing: 1.5px;
    line-height: 1.5rem;
}
.rightAboutUs .docAbout{
    display: flex;
    gap: 40px;
    align-items: center;
    margin-top: 65px;
}
.rightAboutUs .docAbout .aboutUsBtn2{
    font-size: 17px;
    color: white;
    background-color: #615EFC;
    padding: 15px 28px;
    border-radius: 50px;
    transition: all 0.3s ease;
}
.aboutUsBtn2 i{
    transform: rotate(-45deg);
}
.rightAboutUs .docAbout .aboutUsBtn2:hover{
    background-color: black;
    cursor: pointer;
}
.rightAboutUs .docAbout .docProfileSign{
    display: flex;
    align-items: center;
    gap: 15px;
}